.weather-menu {
    height: 80px;
    color: black;
    background-color: #126ED1;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
}

.title {
    display: flex;
    justify-content: center;
    font-size: large;
    color: white;
}

.units-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
}

.links, .units {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.link {
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}


.links-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
}

.unit {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #AAD1FC;
    font-weight: bold;
    font-size: 14px;
}