.fiveDaysForecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
}

.title {
    font-size: 36px;
}

.degrees {
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 0;
}
.current-location {
    margin: 10px 10px;
}

.current-location-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.conditions {
    display: flex;
    flex-direction: column;
}

.right-side {
    display: flex;
    flex-direction: column;
}

.weather-icon {
    width: 40%;
}

.favorite {
    color: #FFEA00;
}

.favorite-icon {
    cursor: pointer;
}

.location-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}