.card-temp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-icon {
    width: 75px;
    height: 45px;
}

.type {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 150px;
}


.weather-description {
    text-align: center;
}

.weather-card {
    width: 100%;
}
